basePath: /api/v1
definitions:
  common.Response:
    properties:
      data:
        type: object
      error:
        type: string
      msg:
        example: OK
        type: string
      status:
        example: 10001
        type: integer
    type: object
  mentor.CreateMentorService:
    properties:
      degree:
        type: string
      email:
        type: string
      gender:
        type: integer
      graduate_major:
        type: string
      graduate_school:
        type: string
      name:
        type: string
      phd_major:
        type: string
      phd_school:
        type: string
      phone:
        type: string
      qq:
        type: string
      research_direction:
        type: string
      undergraduate_major:
        type: string
      undergraduate_university:
        type: string
      user_id:
        type: string
      wechat:
        type: string
    required:
    - name
    - phone
    - user_id
    type: object
  mentor.UpdateMentorService:
    properties:
      degree:
        type: string
      email:
        type: string
      gender:
        type: integer
      graduate_major:
        type: string
      graduate_school:
        type: string
      name:
        type: string
      phd_major:
        type: string
      phd_school:
        type: string
      phone:
        type: string
      qq:
        type: string
      research_direction:
        type: string
      undergraduate_major:
        type: string
      undergraduate_university:
        type: string
      user_id:
        type: string
      wechat:
        type: string
    required:
    - name
    - phone
    - user_id
    type: object
  student.CreateApplicationService:
    properties:
      admission_major:
        type: string
      admission_shcool:
        type: string
      apply_major:
        type: string
      apply_school:
        type: string
      is_admitted:
        type: boolean
      preliminiary_result:
        type: number
      retrail_result:
        type: number
      user_id:
        type: string
    type: object
  student.UpdateInfoService:
    properties:
      email:
        type: string
      phone:
        type: string
      qq:
        type: string
      stu_id:
        type: string
      wechat:
        type: string
    type: object
  user.ChangePasswordService:
    properties:
      id:
        type: integer
      new_password:
        type: string
      password:
        type: string
      user_id:
        type: string
    type: object
  user.CreateUserService:
    properties:
      password:
        type: string
      role:
        type: integer
      user_id:
        type: string
      username:
        type: string
    type: object
  user.LoginService:
    properties:
      password:
        type: string
      user_id:
        type: string
    type: object
host: localhost:3000
info:
  contact: {}
  title: Swagger API
  version: "1.0"
paths:
  /admin/batch/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      - description: 导师user_id
        in: query
        name: mentor_user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 批量添加导师
      tags:
      - Admin
  /info/me:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据token获取用户信息
      tags:
      - User
  /mentor:
    post:
      consumes:
      - application/json
      parameters:
      - description: 导师的个人信息
        in: body
        name: mentor
        required: true
        schema:
          $ref: '#/definitions/mentor.CreateMentorService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 添加导师
      tags:
      - Mentor
  /mentor/info:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据user_id获取导师信息
      tags:
      - Mentor
    put:
      consumes:
      - application/json
      parameters:
      - description: 导师的个人信息
        in: body
        name: mentor
        required: true
        schema:
          $ref: '#/definitions/mentor.UpdateMentorService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 更新导师信息
      tags:
      - Mentor
  /mentor/match:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 导师根据userID获取匹配结果
      tags:
      - Mentor
  /mentor/student/mentored:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 导师根据userID获取所指导的学生信息
      tags:
      - Mentor
  /student/application:
    post:
      consumes:
      - application/json
      parameters:
      - description: 学生的报考信息
        in: body
        name: student
        required: true
        schema:
          $ref: '#/definitions/student.CreateApplicationService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生更新报考信息
      tags:
      - Student
    put:
      consumes:
      - application/json
      parameters:
      - description: 个人信息
        in: body
        name: student
        required: true
        schema:
          $ref: '#/definitions/student.UpdateInfoService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生更新个人信息
      tags:
      - Student
  /student/info/:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 获取学生信息
      tags:
      - Student
  /user:
    post:
      consumes:
      - application/json
      parameters:
      - description: 创建用户参数
        in: body
        name: CreateUserService
        required: true
        schema:
          $ref: '#/definitions/user.CreateUserService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 创建用户
      tags:
      - User
  /user/apply/info:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生获取报考信息
      tags:
      - Student
  /user/bind/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      - description: 导师user_id
        in: query
        name: mentor_user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 师生互选
      tags:
      - User
  /user/dissolve/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 师生互选
      tags:
      - User
  /user/info/:user_id:
    get:
      consumes:
      - application/json
      parameters:
      - description: user_id
        in: query
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据user_id获取用户信息
      tags:
      - User
  /user/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: 登录参数
        in: body
        name: LoginService
        required: true
        schema:
          $ref: '#/definitions/user.LoginService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 用户登录
      tags:
      - User
  /user/match/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生获取匹配结果
      tags:
      - Student
  /user/password:
    post:
      consumes:
      - application/json
      parameters:
      - description: 修改密码RequestBody
        in: body
        name: ChangePassword
        required: true
        schema:
          $ref: '#/definitions/user.ChangePasswordService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 修改密码
      tags:
      - User
swagger: "2.0"
