basePath: /api/v1
definitions:
  checkin.NewStudentCheckinService:
    properties:
      major:
        type: string
      stu_id:
        type: string
      stu_name:
        type: string
    required:
    - major
    - stu_id
    - stu_name
    type: object
  common.Response:
    properties:
      data:
        type: object
      error:
        type: string
      msg:
        example: OK
        type: string
      status:
        example: 10001
        type: integer
    type: object
  mentor.CreateMentorService:
    properties:
      degree:
        type: string
      email:
        type: string
      gender:
        type: integer
      graduate_major:
        type: string
      graduate_school:
        type: string
      name:
        type: string
      phd_major:
        type: string
      phd_school:
        type: string
      phone:
        type: string
      qq:
        type: string
      research_direction:
        type: string
      undergraduate_major:
        type: string
      undergraduate_university:
        type: string
      user_id:
        type: string
      wechat:
        type: string
    required:
    - name
    - phone
    - user_id
    type: object
  mentor.UpdateMentorService:
    properties:
      degree:
        type: string
      email:
        type: string
      gender:
        type: integer
      graduate_major:
        type: string
      graduate_school:
        type: string
      name:
        type: string
      phd_major:
        type: string
      phd_school:
        type: string
      phone:
        type: string
      qq:
        type: string
      research_direction:
        type: string
      undergraduate_major:
        type: string
      undergraduate_university:
        type: string
      user_id:
        type: string
      wechat:
        type: string
    required:
    - name
    - phone
    - user_id
    type: object
  student.CreateApplicationService:
    properties:
      admission_major:
        type: string
      admission_school:
        type: string
      apply_major:
        type: string
      apply_school:
        type: string
      is_admitted:
        type: boolean
      mentor_user_id:
        type: string
      note:
        type: string
      preliminary_result:
        type: number
      retrail_result:
        type: number
      status:
        type: integer
      user_id:
        type: string
    type: object
  student.UpdateInfoService:
    properties:
      email:
        type: string
      phone:
        type: string
      qq:
        type: string
      stu_id:
        type: string
      wechat:
        type: string
    type: object
  user.ChangePasswordService:
    properties:
      id:
        type: integer
      new_password:
        type: string
      password:
        type: string
      user_id:
        type: string
    type: object
  user.CreateUserService:
    properties:
      password:
        type: string
      role:
        type: integer
      user_id:
        type: string
      username:
        type: string
    type: object
  user.LoginService:
    properties:
      password:
        type: string
      user_id:
        type: string
    type: object
  user.UpdateApplicationService:
    properties:
      mentor_user_id:
        type: string
      note:
        type: string
      status:
        type: integer
      user_id:
        type: string
    required:
    - user_id
    type: object
host: localhost:3000
info:
  contact: {}
  title: Swagger API
  version: "1.0"
paths:
  /admin/batch/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      - description: 导师user_id
        in: query
        name: mentor_user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 批量添加导师
      tags:
      - Admin
  /info/me:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据token获取用户信息
      tags:
      - User
  /mentor:
    post:
      consumes:
      - application/json
      parameters:
      - description: 导师的个人信息
        in: body
        name: mentor
        required: true
        schema:
          $ref: '#/definitions/mentor.CreateMentorService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 添加导师
      tags:
      - Mentor
  /mentor/bind/student:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      - description: 导师user_id
        in: query
        name: mentor_user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 老师选学生
      tags:
      - Mentor
  /mentor/info:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据user_id获取导师信息
      tags:
      - Mentor
    put:
      consumes:
      - application/json
      parameters:
      - description: 导师的个人信息
        in: body
        name: mentor
        required: true
        schema:
          $ref: '#/definitions/mentor.UpdateMentorService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 更新导师信息
      tags:
      - Mentor
  /mentor/match:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 导师根据userID获取匹配结果
      tags:
      - Mentor
  /mentor/student/mentored:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 导师根据userID获取所指导的学生信息
      tags:
      - Mentor
  /mentor/student/request:
    get:
      consumes:
      - application/json
      parameters:
      - description: 导师的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据userID获取指导申请
      tags:
      - Mentor
  /student/admission/history:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 查看历史录取记录
      tags:
      - Student
  /student/application:
    post:
      consumes:
      - application/json
      parameters:
      - description: 学生的报考信息
        in: body
        name: student
        required: true
        schema:
          $ref: '#/definitions/student.CreateApplicationService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生更新报考信息
      tags:
      - Student
    put:
      consumes:
      - application/json
      parameters:
      - description: 个人信息
        in: body
        name: student
        required: true
        schema:
          $ref: '#/definitions/student.UpdateInfoService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生更新个人信息
      tags:
      - Student
  /student/bind/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      - description: 导师user_id
        in: query
        name: mentor_user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生选老师
      tags:
      - Student
  /student/detail:
    get:
      consumes:
      - application/json
      parameters:
      - description: page
        in: query
        name: pagination.page
        type: string
      - description: limit
        in: query
        name: pagination.limit
        type: string
      - description: 学生姓名
        in: query
        name: stu_name
        type: string
      - description: 年级
        in: query
        name: grade
        type: string
      - description: 专业
        in: query
        name: major
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 获取学生列表
      tags:
      - Student
  /student/info/:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 获取学生信息
      tags:
      - Student
  /students/age/distribution/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取年龄分布
      tags:
      - Checkin
  /students/amount/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取学生人数
      tags:
      - Checkin
  /students/checkin/info/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取报道信息
      tags:
      - Checkin
  /students/checkin/new:
    post:
      consumes:
      - application/json
      parameters:
      - description: 报道信息
        in: body
        name: CheckinInfo
        required: true
        schema:
          $ref: '#/definitions/checkin.NewStudentCheckinService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 新生报到
      tags:
      - Checkin
  /students/firstname/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取姓排行
      tags:
      - Checkin
  /students/gender/amount/{grade}:
    get:
      consumes:
      - application/x-json-stream
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 男生女生数量
      tags:
      - Checkin
  /students/info/table/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取学生信息轮播表
      tags:
      - Checkin
  /students/major/rank/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取专业排行
      tags:
      - Checkin
  /students/province/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取省份信息
      tags:
      - Checkin
  /students/same/birthday/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取同名情况
      tags:
      - Checkin
  /students/same/name/{grade}:
    get:
      parameters:
      - description: 年级
        in: path
        name: grade
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据年级获取同名情况
      tags:
      - Checkin
  /user:
    post:
      consumes:
      - application/json
      parameters:
      - description: 创建用户参数
        in: body
        name: CreateUserService
        required: true
        schema:
          $ref: '#/definitions/user.CreateUserService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 创建用户
      tags:
      - User
  /user/apply/info:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生获取报考信息
      tags:
      - Student
  /user/dissolve/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生user_id
        in: query
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 解除关系
      tags:
      - User
  /user/dual/select:
    put:
      consumes:
      - application/json
      parameters:
      - description: 师生双选Request
        in: body
        name: application
        required: true
        schema:
          $ref: '#/definitions/user.UpdateApplicationService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 师生双选
      tags:
      - User
  /user/info:
    get:
      consumes:
      - application/json
      parameters:
      - description: user_id
        in: query
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 根据user_id获取用户信息
      tags:
      - User
  /user/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: 登录参数
        in: body
        name: LoginService
        required: true
        schema:
          $ref: '#/definitions/user.LoginService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 用户登录
      tags:
      - User
  /user/match/mentor:
    get:
      consumes:
      - application/json
      parameters:
      - description: 学生的user_id
        in: query
        name: user_id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 学生获取匹配结果
      tags:
      - Student
  /user/password:
    post:
      consumes:
      - application/json
      parameters:
      - description: 修改密码RequestBody
        in: body
        name: ChangePassword
        required: true
        schema:
          $ref: '#/definitions/user.ChangePasswordService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
      summary: 修改密码
      tags:
      - User
swagger: "2.0"
